@using System.Web

@inherits ComponentBase

<article class="@GetStyleClass()">
    @if (Ad is not null)
    {
        @if (Ad.AdStyle == AdType.Header)
        {
            <h1 class="text-2xl font-black">@Ad.StrongText</h1>
        }
        else
        {
            <p class="text-lg text-justify">
                <strong>@Ad.StrongText</strong>
                @Ad.AdText
            </p>
            <p class="text-xs text-right"> @Ad.AdId </p>
        }
    }
    else
    {
        <p>Nincs ilyen hirdetés</p>
    }
</article>

@code {

    [Parameter]
    public AdData? Ad { get; set; }

    public string GetStyleClass()
    {
        if (Ad is null)
        {
            return AdData.Styles[AdType.Error];
        }

        if (AdData.Styles.ContainsKey(Ad.AdStyle))
        {
            return AdData.Styles[Ad.AdStyle];
        }

        return AdData.Styles[AdType.Plain];
    }

}
